* {
  box-sizing: border-box;
}

.form-wrapper {
  background-color: #f1f3f5;
  padding: 40px;
}

.form-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-bottom: 20px;
}

.form-header {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}

.form-group-row {
  display: flex;
  margin-bottom: 20px;
  .win-label {
    margin: 0 20px;
    min-width: unset;
  }
  .win-box {
    min-width: unset;
  }
}

.form-group-label {
  min-width: 125px;
}

.form-group-input {
  display: block;
  background-color: rgb(249, 250, 250);
  border: 1px solid #ced4da;
  min-width: 400px;
  border-radius: 6px;
  padding-left: 10px;
}

.form-button {
  background-color: #1c7ed6;
  border: none;
  color: white;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 200px;
}

.colorBlock {
  height: 25px;
  width: 25px;
  margin-left: 12px;
  border: 1px solid black;
}

.form-sub-header {
  font-size: 18px;
  margin-bottom: 20px;
}

.backlink {
  text-decoration: underline;
  color: #1c7ed6;
}

.button-container {
  display: flex;
  gap: 12px;
  .new {
    background-color: #40c057;
  }
  .delete {
    background-color: #e03131;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
}

a {
  color: blue;
  text-decoration: underline;
}

.sub-links {
  margin-bottom: 12px;
}
